.button{
    font-family: Arial, Helvetica, sans-serif;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 20px;
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}
.yes,
.no{
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    transition: 0.2s;
} 
.yes:hover{
    background-color: white;
    color:black; 
    
}
.no:hover{
    background-color: white;
    color:black; 
    
}
.yes:active{
    background-color: black;
    color: white;
    opacity: 0.2;

}
.no:active{
    background-color: black;
    color: white;
    opacity: 0.2;

}