.project-module{
   width: 500px;
   vertical-align: top;
   padding: 5px 5px 5px 5px ;
   margin: 5px 5px 5px 5px ;
   border: solid;
   border-width: 2px;
   border-radius: 2px;
   border-color: rgba(190, 186, 186, 200);
}
.sign-up{
    background-color: rgba(57,115,230,255);
    color: white;
    width: 345px;
    height: 50px;
    padding: 5px 5px 5px 5px ;
    margin: 5px 5px 5px 5px ;
    font-size: 30px;
    font-family: arial;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}
.sign-up:hover{
    opacity: 0.8;
}
.sign-up:active{
opacity: 0.95;
}
.first,
.last{
    width: 150px;
    height: 30px;
    padding: 5px 5px 5px 5px ;
    margin: 5px 5px 5px 5px ;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgba(221,221,221,255);
    border-style: solid;
    }

     .email{
        width: 330px;
        height: 30px;
        padding: 5px 5px 5px 5px ;
        margin: 5px 5px 5px 5px ;
        font-size: 15px;
        border-radius: 5px;
        border-color: rgba(221,221,221,255);
        border-style: solid;
        display: block;
        }

        .req{
            font-family: 'Ubuntu', sans-serif;
            font-size: 40px;
            
        }
        .pickup,
        .destin{
            width: 400px;
            height: 40px;
            font-size: 15px;
            padding: 5px 5px 5px 5px ;
            margin: 10px 5px 10px 5px ;
            font-family: arial;
            border: none;
            background-color: rgba(240,240,240,255);
            display: block;

        }
         .request-now{
            width: 150px;
            height: 40px;
            font-family: arial;
            padding: 5px 5px 5px 5px ;
            margin: 10px 5px 10px 5px ;
            background-color: black;
            color: rgba(228,228,228,255);
            border: none;
            transition: 0.1s;
            cursor: pointer;
         }
         .request-now:hover{
            opacity: 0.7;
         }
         .request-now:active{
            opacity: 0.95;
         }
         .schadule{
            width: 150px;
            height: 40px;
            font-family: arial;
            padding: 5px 5px 5px 5px ;
            margin: 10px 5px 10px 5px ;
            background-color: rgba(217,217,217,255);
            color: rgba(3,3,3,255);
            border: none;
            transition: 0.1s;
            cursor: pointer;
         }
         .schadule:hover{
            opacity: 0.7;
         }
         .schadule:active{
            opacity: 0.95;
         }
         .youtube-music-background{
            background-color: rgba(30,30,30,255);
            width: 400px;
            height: 150px;
         }
         .install{
            color: rgba(229,229,229,255);
            font-family: arial;
            width: bold;
            font-size: 25px;
            padding: 15px 5px 5px 5px ;
            margin: 10px 5px 10px 5px ;
            vertical-align: middle;
         }
         .description{
            color: rgba(129,129,129,255);
            font-family: arial;
            font-size: 20px;
            padding: 5px 5px 5px 5px ;
            margin: 20px 5px 10px 5px ;
            vertical-align: middle;
         }