@media (max-width: 1439px){
    .body{
        margin: 0px;
    }
    .header-nav-right-section{
        ul{
            display: none;
        }
        
    }

    .hero-section-wrapper{
        flex-direction: column-reverse;     
    }
    .hero-section-desc{
        align-items: center;
        p, h1{
            text-align: center;
        }
    }
    .hero-image{
        width: 586px;
        height: 385px;
        object-fit: cover;
        margin-bottom: 120px;
        border-radius: 32px;
        
    }  
    .landing-stats-container{
        width: 70%;
        gap: 0;
            &-module{
                padding: 20px 10px;
               /*  transform: scale(0.8); */
            }
    }
    .categories-header{
        width: 719px;
        height: 73px;
        flex-shrink: 0;
        align-self: flex-start;
        margin-left: 63px;
        margin-right: 63px;
        &-search{
            display: none;
        }
    }
    .categories-list{
        grid-template-columns: 1fr 1fr;
    }
    .perks-items{
        flex-direction: column;
        width: 80%;
            &-card{
                width: 70%;
                min-width: 350px;
            }
    }
    .vector-1-1{
        display: none;
    }
    .perks-etc{
        flex-direction: column;
        gap: 90px;
    }
    .guide-body-step{
        flex-direction: column;
        gap: 40px;
        width: auto;
            &-left{
                width: 80%;
                img{
                    /* width: 80%;
                    height: auto; */
                    margin-left: auto;
                    margin-right: auto;
                }
            }
    }
    .member{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .member-chef{
        flex-direction: column-reverse;
        width: auto;
            >img{
                width: 80%;
                height: auto;
            }
        gap: 40px;
            &-desc{
                width: 80%;
            }
    }
    .member-student{
        flex-direction: column;
        gap: 0;
        width: auto;
        padding: 0px;
        margin: 0px;
            &-desc{
                width: 85%;
                
            }
            >img{
                width: 100%;
                height: 500px;
            }
    }
    .links{
        flex-direction: column-reverse;
        align-items: center;
            &-blog{
                align-items: start;
            }
            &-tags{
                &-find{
                    padding: 0;
                        h1{
                            padding: 0;
                        }
                }
            }
    }
    .footer{
        margin-right: 0;
        margin-left: 0;
        width: auto;
        height: auto;
        
            &-down{
                flex-direction: column;
                align-items: center;
                    &-items{
                        gap: 15px;
                    }
            }
            &-up{
                flex-direction: column;
                gap: 24px;

            }
    }
    
}